*{
    font-family: sans-serif;
}
.container{
    width: 40%;
    margin: 100px auto;
    background: #4d5dbd;
    /* padding: 30px; */
    text-align: center;
    color: white;
    border-radius: 20px 0 20px 0;
}
.title{
    color: white;
    text-align: center;
    padding: 30px 0 0 0;
}
hr{
    border: 1.3px #9fafff solid;
    margin-bottom: 30px;
    width: 80%;
}
.number{
    width: 17%;
    height: 40px;
    background: #6f7fdf;
    border: none;
    margin: 3px;
    color: white;
    transition: 0.5s;
}
.numbers{
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
    
    
}
.new{
    width: 84%;
    height: 40px;
    background: #6f7fdf;
    border: none;
    margin: 10px 0;
    text-align: center;
    color: white;
    transition: 0.5s;
}
.attempts{
    width: 100%;
    background: #3c4cac;
    line-height: 50px;
    margin: 10px 0 0 0;

}
.result{
    width: 100%;
    background: #2b3b9b;
    line-height: 50px;
    margin: 0;
    border-radius: 0 0 20px 0;
}
.number:hover{
    background-color: #9fafff;
}
.new:hover{
    background-color: #9fafff;
}