@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Comfortaa:wght@300&family=Noto+Sans+Display:wght@600&family=Pattaya&family=Play:wght@700&display=swap');
*{
	margin: 0px;
	padding: 0px;
}
body{
	text-align: center;
}
.header{
	background-color: whitesmoke;
	height: 100vh;
	font-family: "Montserrat", sans-serif;

}
.header-title{
	font-size: 135px;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;

}
.title-black{
	color: black;
	position: relative;
	top: 130px;
	z-index: 3;
	right: 25px;
	animation-name: main-animation;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;

}
.title-red{
	color: red;
	opacity: 0.5;
	position: relative;
	z-index: 2;
	animation-name: main-animation;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
}
.title-blue{
	color: blue;
	opacity: 0.5;
	position: relative;
	z-index: 1;
	bottom: 130px;
	left: 25px;
	animation-name: main-animation;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
}
.header-button{
	color: white;
	background-color: black;
	display: block;
	text-decoration: none;
	width: 300px;
	position: absolute;
	height: 40px;
	line-height: 40px;
	text-align: center;
	bottom: 150px;
	left: 50%;
	transform: translate(-50%, 0%);
	z-index: 6;
	transition: 0.25s;

}
.header-button-blue{
	bottom: 145px;
	left: 50%;
	transform: translate(-40%, 0%);
	height: 40px;
	width: 300px;
	z-index: 5;
	background-color: blue;
	opacity: 0.5;
	position: absolute;

}
.header-button-red{
	bottom: 155px;
	left: 50%;
	transform: translate(-60%, 0%);
	width: 300px;
	height: 40px;
	z-index: 4;
	background-color: red;
	opacity: 0.5;
	position: absolute;

}

.header-button:hover{
	color: black;
	background-color: white;
	border: 2px solid black;
}

@keyframes main-animation{
	0%{
		transform: translate(0px, 0px);
	}
	50%{
		transform: translate(20px, -20px);
	}
	100%{
		transform: translate(0px, 0px);
	}
}

.content-article{
	border: 2px solid black;
	width: 55%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}
.header-text{
	background: black;
	color: white;
	/*line-height: 34px;*/
	font-family: 'Noto Sans Display', sans-serif;
	font-size: 22px;

}
.subheader-text{
	background: Tomato;
	color: black;
	text-decoration: underline;
	line-height: 28px;
	font-family: sans-serif;
}
.content-article-img-space{
	height: 400px;
	background-image: url(space.jpg);

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.content-article-img-robotic{
	height: 500px;
	background-image: url(robotic.jpg);

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.information{
	margin: 30px;
	font-size: 14px;
	font-family: sans-serif;
	text-align: initial;

}
.go-up{
	background-color: black;
	color: white;
	text-decoration: underline;
	border-radius: 30px;
	box-shadow: 0px 3px 3px black;
	display: inline-block;
	padding: 5px 15px;
	transition: 0.6s;
	position: fixed;
	bottom: 40px;
	right: 40px;

}
.go-up:hover{
	transform: scale(1.1);
}